

.area-0 {
  fill: hsl(234, 20%, 50%)
}

.area-1 {
  fill: hsl(234, 40%, 50%)
}

.area-2 {
  fill: hsl(234, 60%, 50%)
}

.area-3 {
  fill: hsl(234, 80%, 50%)
}

.area-4 {
  fill: hsl(234, 100%, 50%)
}