.sidebar {
  padding-top: 3px;
  background-color: #222222;
  border: 1px solid #4D5057;
}

.line-path {
  fill: none;
  stroke: rgb(53, 107, 177);
  stroke-width: 2.5;
  stroke-linejoin: round;
}

.line-path-r {
  fill: none;
  stroke: rgb(172, 33, 33);
  stroke-width: 2.5;
  stroke-linejoin: round;
}

.line-path-g {
  fill: none;
  stroke: rgb(55, 182, 43);
  stroke-width: 2.5;
  stroke-linejoin: round;
}

.line-path-secondary {
  fill: none;
  stroke: rgba(53, 107, 177);
  stroke-width: 1;
  stroke-linejoin: round;
}

.area-20 {
  fill: rgba(53, 107, 177, 0.40);
}

.area-40 {
  fill: rgba(53, 107, 177, 0.80);
}

.tick text {
  font-size: 1.5em;
  fill: #FFFFFF;
}

.tick line {
  stroke: #000000;
}

.title {
  font-size: 1.2em;
  fill: #FFFFFF;
}

svg {
  padding-left: 5px;
}